<!-- tuck1s added email and phone parameters -->
{{ $icon_size := "32px" }}

{{ with .Param "email" }}
<div>
    <a class="f4 fw4 hover-white no-underline white dn dib-ns pv2 ph3" href="mailto:{{ . }}?subject=New Enquiry"
        target="_blank">
        {{ . }}
    </a>
</div>
{{ end }}

{{ with .Param "mobile" }}
<div>
    <a class="f4 fw4 hover-white no-underline white dn dib-ns pv2 ph3">
        mobile: {{ . }}
    </a>
</div>
{{ end }}

{{ with .Param "phone" }}
<div>
    <a class="f4 fw4 hover-white no-underline white dn dib-ns pv2 ph3">
        ☎︎ {{ . }}
    </a>
</div>
{{ end }}